WeatherApp/Pods/Manifest.lock
WeatherApp/Pods/Pods.xcodeproj/project.pbxproj
WeatherApp/Pods/Pods.xcodeproj/xcuserdata/nextbest.xcuserdatad/xcschemes/Pods-WeatherApp.xcscheme
WeatherApp/Pods/Pods.xcodeproj/xcuserdata/nextbest.xcuserdatad/xcschemes/xcschememanagement.plist
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-acknowledgements.markdown
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-acknowledgements.plist
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-dummy.m
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-Info.plist
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp-umbrella.h
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.debug.xcconfig
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.modulemap
WeatherApp/Pods/Target Support Files/Pods-WeatherApp/Pods-WeatherApp.release.xcconfig
WeatherApp/WeatherApp.xcworkspace/contents.xcworkspacedata
WeatherApp/WeatherApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
WeatherApp/WeatherApp.xcworkspace/xcuserdata/nextbest.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp/Pods/Pods.xcodeproj/xcuserdata/nextbest.xcuserdatad/xcschemes/SwiftLint.xcscheme
WeatherApp/Pods/SwiftLint/LICENSE
WeatherApp/Pods/SwiftLint/swiftlint
WeatherApp/Pods/Target Support Files/SwiftLint/SwiftLint.xcconfig
